h1{
  font-weight: bold;
  font-size: 1.0rem;
  text-align: center;
}
h2{
  color: rgb(32, 32, 32);
  font-size: 0.8rem;
  text-align: center;
}
h3{
  color:rgb(80, 78, 78);
  font-size: 0.8rem;
  text-align: center;
}
